html {
    font-family: sans-serif;
}

#hand {
    position: absolute;
    width:40%;
    height: 90%;
    background:rgb(139, 197, 255);
    left: 0px;
    top: 0px;
    text-align: center;
}

#table
{
    position: absolute;
    width:35%;
    height: 90%;
    background:rgb(42, 139, 42);
    left: 40%;
    top: 0px;
    text-align: center;
}

#controls
{
    position: absolute;
    width:75%;
    height: 10%;
    background:rgb(42, 139, 42);;
    left: 0px;
    top: 90%;
}

#team1, #team2, #ok {
    position: absolute;
    width:20%;
    height: 8%;
    background:white;
    color: black;
    left: 15%;
    text-align: center;
    top: 91%;
    line-height: 100%;
    border-radius: 10px;
}

#team1 {
    left: 15%;
}

#team2 {
    left: 40%;
}
#ok {
    bottom: 0px;
    left:45%;
    width: 10%;
    height: 50px;
}

#res1, #res2, #room {
    position: absolute;
    width:40%;
    height: 90%;
    background:#000000DD;
    left: 40%;
    text-align: center;
    top: 5%;
    border-radius: 10px;
    color: white;
}
#res1 {
    left: 5%;
}
#res2 {
    left: 55%;
}
#room {
    line-height: 100%;
    width: 80%;
    height: 30%;
    left: 10%;
    top: 35%;
    font-size: xx-large;
}

.disable {
    visibility: hidden;
}

#last_hand {
    position: absolute;
    width:25%;
    height: 100%;
    background:rgb(66, 66, 66);
    right: 0px;
    top: 0px;
    text-align: center;
}

.card {
    /* padding: 10px; */
    margin: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    text-align: center;
    color:black;
}

.card .value {
    font-size:15pt;
    font-family: sans-serif;
}

.card .suit
{
    background-image: url('cardset.svg');
    height: 190px;
    width: 131px;
    border-radius: 10px;
}

.card .clubs { background-position-y:   7px; }
.card .diamonds { background-position-y: 620.25px; }
.card .hearts { background-position-y: 419.5px; }
.card .spades { background-position-y: 219.75px; }

.card .vA  { background-position-x: 3px; }
.card .v7  { background-position-x: 943.75px; }
.card .v8  { background-position-x: 812.75px; }
.card .v9  { background-position-x: 681.75px; }
.card .v10 { background-position-x: 551.75px; }
.card .vJ  { background-position-x: 420.75px; }
.card .vQ  { background-position-x: 289.75px; }
.card .vK  { background-position-x: 158.75px; }

.null {
    background-color: #00000066;
    border: solid 1px #000000;
}

.card .suit.null {
    opacity: 0 !important;
}

#order {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(207, 115, 49);
}
#chair1, #chair2, #chair3, #chair4 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.free {
    background-color: greenyellow;
}

.taken {
    background-color: orange;
}

.yours {
    background-color: crimson;
}

#chair1 {
    bottom: 105px;
    right: 55px;
}

#chair2 {
    bottom: 55px;
    right: 5px;
}

#chair3 {
    bottom: 5px;
    right: 55px;
}

#chair4 {
    bottom: 55px;
    right: 105px;
}

.played.yours {
    background-color: rgb(214, 155, 167) !important;
}

.played {
    background-color: grey;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#spectator {
    display: none;

    position: absolute;
    width:100%;
    height: 30px;
    left: 0px;
    top: 0px;
    background:#000000DD;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    color: white;
}

.clickable:hover {
    cursor: pointer !important;
}

.button {
    border: solid 1px black;
    box-shadow: 2px 2px 5px #00000088;
}

.button:hover {
    background: #2D69DA !important;
    color: white !important;
}

#mat {
    position: relative;
    width: 100%;
    height: 100%;
}

.tcard {
    position: absolute;
    left: calc(50% - calc(131px * 0.5));
    top: calc(50% - calc(190px * 0.5));
    margin: 0px;
}

.p1 {
    transform: translate(calc(-131px * 0.0), calc(-190px * 1.0));
}
.p2 {
    transform: translate(calc( 131px * 1.0), calc(-190px * 0.0));
}
.p3 {
    transform: translate(calc(-131px * 0.0), calc( 190px * 1.0));
}
.p4 {
    transform: translate(calc(-131px * 1.0), calc(-190px * 0.0));
}